@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: hsl(270, 20%, 96%);
  box-sizing: border-box;
  font-family: "Rubik";
}
.back {
  display: flex;
  gap: 120px;
  position: absolute;
}
.back-1 {
  margin-top: 0px;
  background-color: hsl(264, 100%, 61%);
  min-height: 40em;
  max-width: 30em;
  border-bottom-right-radius: 700px;
}
.phone {
  height: 106vh;
  width: 50vh;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  margin-left: 360px;
  margin-top: 200px;
}
.top {
  position: absolute;
  height: 40px;
  width: 180px;
  background-color: hsl(0, 0%, 100%);
  margin-left: 60px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.sect-1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 90px;
  width: 270px;
  margin: 0 14px;
  margin-top: 20px;
  background: linear-gradient(45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}
.user img {
  position: absolute;
  margin-top: 50px;
  border: 2px solid hsl(0, 0%, 100%);
  margin-left: 40px;
  border-radius: 200px;
  width: 30px;
}
.user > h3 {
  position: absolute;
  color: hsl(0, 0%, 100%);
  padding: 32px 80px;
  font-size: 1rem;
}
.user > h6 {
  position: absolute;
  color: hsl(276, 100%, 81%);
  padding: 46px 80px;
}
.sect-2 {
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 500px;
  width: 270px;
  margin: 0 14px;
  background-color: hsl(270, 20%, 96%);
}
.R-1 {
  background-color: hsl(270, 8%, 85%);
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.R-1 p {
  padding: 10px 10px;
  font-size: 10px;
  color: hsl(276, 55%, 52%);
}
.R-2 {
  background-color: hsl(270, 8%, 85%);
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.R-2 p {
  padding: 10px 10px;
  font-size: 10px;
  color: hsl(276, 55%, 52%);
}
.L-1 {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  margin-left: 80px;
}
.img-1 img {
  border-radius: 10px;
  width: 50px;
}
.img-2 img {
  border-radius: 10px;
  width: 50px;
}
.img-3 img {
  border-radius: 10px;
  width: 50px;
}
.L-2 {
  background-color: hsl(0, 0%, 100%);
  margin-top: 10px;
  margin-left: 100px;
  height: 40px;
  width: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.L-2 p {
  padding: 10px 10px;
  font-size: 10px;
  color: hsl(271, 15%, 43%);
}
.L-3 {
  background-color: hsl(0, 0%, 100%);
  margin-top: 10px;
  margin-left: 150px;
  height: 20px;
  width: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.L-3 p {
  padding: 4px 10px;
  font-size: 10px;
  color: hsl(271, 15%, 43%);
}
.R-3 {
  background-color: hsl(270, 8%, 85%);
  margin-top: 10px;
  margin-left: 10px;
  height: 46px;
  width: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.R-3 p {
  padding: 5px 10px;
  font-size: 10px;
  color: hsl(276, 55%, 52%);
}
.R-4 {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  width: 210px;
  height: 50px;
  background: linear-gradient(45deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.radio {
  display: inline-flex;
}
.rad-1 {
  display: none;
}
.radio__radio {
  margin-left: 10px;
  margin-top: 20px;
  padding: 2px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid hsl(289, 100%, 72%);
}
.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: block;
  border-radius: 50%;
  transform: scale(0);
}
.rad-1:checked + .radio__radio::after {
  transform: scale(1);
}
.R-4 p {
  padding-top: 4px;
  padding-left: 10px;
  color: hsl(270, 20%, 96%);
}
.R-4 h4 {
  padding-left: 20px;
  color: hsl(270, 20%, 96%);
}
.R-5 {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  width: 210px;
  height: 50px;
  background: linear-gradient(45deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.radio-2 {
  display: inline-flex;
}
.rad-2 {
  display: none;
}
.radio__radio-2 {
  margin-left: 10px;
  margin-top: 20px;
  padding: 2px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid hsl(289, 100%, 72%);
}
.radio__radio-2::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: block;
  border-radius: 50%;
  transform: scale(0);
}
.rad-2:checked + .radio__radio-2::after {
  transform: scale(1);
}
.R-5 p {
  padding-top: 4px;
  padding-left: 10px;
  color: hsl(270, 20%, 96%);
}
.R-5 h4 {
  padding-left: 50px;
  color: hsl(270, 20%, 96%);
}
.end {
  margin-top: 12px;
  margin-left: 10px;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
}
.end p {
  padding: 2px 18px;
  font-size: 12px;
  color: hsl(270, 7%, 64%);
}
.send {
  margin-top: 5px;
  margin-left: 78px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: hsl(271, 36%, 24%);
}
.send svg {
  padding-top: 5px;
  padding-left: 5px;
  color: antiquewhite;
}
.content .header {
  padding-left: 90px;
  margin-top: 240px;
  font-size: 1.4rem;
  color: hsl(271, 36%, 24%);
}
.essay {
  padding: 0 88px;
  color: hsl(270, 7%, 64%);
  font-size: 1rem;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .back {
    display: block;
  }
  .back-1 {
    background-color: hsl(264, 100%, 61%);
    min-height: 40em;
    max-width: 15em;
    border-bottom-right-radius: 700px;
    position: relative;
    left: -20px;
  }
  .phone {
    position: absolute;
    height: 106vh;
    width: 50vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    margin-top: 140px;
    margin-left: 140px;
  }
  .sect-1 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100px;
    width: 270px;
    margin: 0 14px;
    background: linear-gradient(
      45deg,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    margin-top: 10px;
  }
  .content .header {
    margin-top: 240px;
    text-align: center;
    font-size: 1.4rem;
    color: hsl(271, 36%, 24%);
  }
  .essay {
    text-align: center;
    padding: 0 88px;
    color: hsl(270, 7%, 64%);
    font-size: 1rem;
    line-height: 30px;
  }
}
